<!DOCTYPE html>
<html>
<head>
    <title>Courses</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">LearnHub</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/login">Login</a>
    </div>
</div>

<h1>Our Courses</h1>

<div class="course-container">

    <div class="course-card">
        <a href="/python">
            <h3>Python Programming</h3>
        </a>
    </div>

    <div class="course-card">
        <a href="/java">
            <h3>Java Programming</h3>
        </a>
    </div>

</div>

<a href="/">⬅ Back to Home</a>

</body>
</html>
