<!DOCTYPE html>
<html>
<head>
    <title>LearnHub</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">LearnHub</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/courses">View Courses</a>
        <a href="/login">Login</a>
    </div>
</div>

<h1>Welcome to LearnHub</h1>
<p>Learn Programming Step by Step</p>

<a href="/courses">View Courses</a>

</body>
</html>
