<!DOCTYPE html>
<html>
<head>
    <title>Java Course</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- NAVBAR -->
<div class="navbar">
    <div class="logo">LearnHub</div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/courses">Courses</a>
        <a href="/login">Login</a>
    </div>
</div>

<h1>Java Programming</h1>
<p>Learn Java OOP concepts step by step.</p>

<a href="/courses">⬅ Back to Courses</a>

</body>
</html>
